/*OVERALL CSS*/
body {
    background-color: #D1CFE2;
}
* {
    color: #000030;
    font-family: 'Montserrat:ital,wght@1,500', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    overflow: auto;
}
input, button, textarea {
    background-color: #D1CFE2;
    border: 2px solid #000030;
}

  
/*HEADER + NAVIGATION*/
nav {
    background-color: #D4AFB9;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 110px;
    overflow: hidden;
    z-index: 15;
}
nav > header {
    float: left;
}
nav > header > a > img#logo {
    margin: 5px 0 5px 10px;
}
nav > header > img#header {
    margin: -30px 0 25px -45px;
}
nav > ul, nav > ul > li {
    float: left;
    position: relative;
    top: -16px;
    left: -15px;
    margin-bottom: -35px;
}
nav > ul > li {
    list-style-type: none;
    font-size: 40px;
    padding: 50px 15px;
    margin: 0;
    text-align: center; 
}
nav > ul > li > a {
    text-decoration: none;
    color: #000030;
}
nav > ul > li:hover {
    background-color: #9CADCE;
}


/*MAIN CONTENT - FORM GAME*/
form#game {
    font-size: 120%;
    margin: 110px 10% 0 10%;
    padding: 5px;
}
fieldset {
    border: 5px solid #9CADCE;
}
fieldset > legend {
    color: #000080;
    font-size: 60px;
    text-align: center;
}
p#instructions {
    font-size: 140%;
    font-weight: 800;
}
input#submitButton {
    background-color: #D4AFB9;
    width: 100%;
    height: 50px;
    font-size: 30px;
    border: 0;
}
input#submitButton:hover {
    opacity: 0.75;
}

/*FOR GUESS THE KLASSICS*/
form > fieldset > p > img, form > fieldset > p > audio {
    width: 90%;
    margin: 0 5%;
}
.guessing1 {
    font-size: 120%;
    margin-bottom: 5px;
}
.guessing2 {
    font-size: 120%;
}
label.guessing1, label.guessing2 {
    margin-left: 30%;
}
input.guessing1, input.guessing2 {
    margin-right: 30%;
}
input.guessing1 {
    width: 300px;
}
input.guessing2 {
    width: 337px;
}

/*RESPONSIVITY*/
/*changing the formatting for a screen's width <1024px*/
@media only screen and (max-width: 1024px) {
    label.guessing1, label.guessing2 {
        margin-left: 20%;
    }
    input.guessing1, input.guessing2 {
        margin-right: 20%;
    }
}
/*changing the formatting for a screen's width <925px*/
@media only screen and (max-width: 925px) {
    label.guessing1, label.guessing2 {
        margin-left: 15%;
    }
    input.guessing1, input.guessing2 {
        margin-right: 15%;
    }
}
/*changing the formatting for a screen's width <880px*/
@media only screen and (max-width: 880px) {
    nav > ul > li {
        font-size: 20px;
    }
}
/*changing the formatting for a screen's width <800px*/
@media only screen and (max-width: 800px) {
    label.guessing1, label.guessing2 {
        margin-left: 10%;
    }
    input.guessing1, input.guessing2 {
        margin-right: 10%;
    }
}
/*changing the formatting for a screen's width <712px*/
@media only screen and (max-width: 712px) {
    label.guessing1, label.guessing2 {
        margin-left: 0;
    }
    input.guessing1, input.guessing2 {
        margin-right: 0;
    }
}
/*changing the formatting for a screen's width <620px*/
@media only screen and (max-width: 620px) {
    nav > header > img#header {
        width: 0;
        margin: 0;
    }
} 
/*changing the formatting for a screen's width <590px*/
@media only screen and (max-width: 590px) {
    form#game {
        font-size: 120%;
        margin: 110px 0 0 0;
    }
    label.guessing1, label.guessing2 {
        margin-left: 10%;
    }
    input.guessing1, input.guessing2 {
        margin-right: 10%;
    }
    input.guessing1 {
        width: 200px;
    }
    input.guessing2 {
        width: 237px;
    }
}
/*changing the formatting for a screen's width <465px, for phones*/
@media only screen and (max-width: 465px) {
    nav > ul {
        margin: 20px 0 -10px 5px;
        position: relative;
        top: 0;
    }
    nav > ul > li {
        clear: left;
        font-size: 18px;
        padding: 10px;
    }  
    nav > ul > li:first-child {
        padding-top: 25px;
    }
}
/*changing the formatting for a screen's width <455px, for phones*/
@media only screen and (max-width: 455px) {
    label.guessing1, label.guessing2 {
        margin-left: 5%;
    }
    input.guessing1, input.guessing2 {
        margin-right: 0;
    }
    input.guessing1 {
        width: 150px;
    }
    input.guessing2 {
        width: 187px;
    }
    fieldset > legend {
        font-size: 30px;
    }
}
